
<div id="draggable" class="ui-widget-content">
    <p>Drag me to my target</p>
</div>

<div id="droppable" class="ui-widget-header">
    <p>Drop here</p>
</div>         
    
@section Styles{
    @Styles.Render("~/bundles/staffrota/css")
}
@section Scripts{

    @Scripts.Render("~/bundles/jqueryui/js")
    @Scripts.Render("~/bundles/jquery/js")
    @Scripts.Render("~/bundles/staffrota/js")
}

<script type="text/javascript">
    alert("help");

    $(function () {
        $("#draggable").draggable();
        $("#droppable").droppable({
            drop: function (event, ui) {
                $(this)
                  .addClass("ui-state-highlight")
                  .find("p")
                    .html("Dropped!");
            }
        });
    });
</script>