@using AlphaABSV2.Helpers;
@{
    var sDate = ViewBag.sDate;
}

<div>
    <button type="button" id="paintball" class="btn w-xs btn-info" data-id="1">Paintball</button>
    <button type="button" id="prepay" class="btn w-xs btn-info" data-id="2">Pre-Pay</button>
    <button type="button" id="laser" class="btn w-xs btn-info" data-id="3">Laser Tag</button>
    <button type="button" id="walkon" class="btn w-xs btn-info" data-id="4">Walk On</button>
    <button type="button" id="bigticket" class="btn w-xs btn-info" data-id="5">Big Ticket</button>
</div>

